<div id="card-container" style="padding-top: 10vh;">

  <div class="example-card">
  <mat-card class="example-card cardListItem">
    <mat-card-header>
      <mat-card-title>TODO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion *ngFor = "let card of cards" >
        <mat-expansion-panel  *ngIf="card.list==2">
          <mat-expansion-panel-header>
           {{card.title}}
          </mat-expansion-panel-header>

            <textarea matInput placeholder="Add a Discription" style="width:100%;height:100px" [value]="card.description"></textarea>
            <div class="row">
            <mat-form-field style="width:25%">
              <mat-label>Select List</mat-label>
              <mat-select [(value)]="selectedValue1" name="selectedValue1">
                <mat-option *ngFor="let List of Lists" (click)="selectionclicked(List)"[value]="List.id">
                  {{List.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width:25%;padding-left:3vh;">
                <input matInput type="number" placeholder="Story" [value]="card.story_points">
            </mat-form-field>
            <mat-form-field style="width:25%;padding-left:3vh;">
                <input matInput type="number" placeholder="Value" [value]="card.business_value">
            </mat-form-field>
            </div>
          <mat-action-row style="text-align: right;">
            <button mat-button class="btn btn-danger">Remove</button>
            <button mat-button class="btn btn-success">Update</button>
          </mat-action-row>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-button class="btn btn-success">ADD</button>
    </mat-card-actions>
  </mat-card>
</div>

<div  class="example-card">
  <mat-card class="example-card cardListItem">
    <mat-card-header>
      <mat-card-title>Started</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion *ngFor = "let card of cards">

          <mat-expansion-panel *ngIf="card.list==3">
              <mat-expansion-panel-header>
               {{card.title}}
              </mat-expansion-panel-header>

                <textarea matInput placeholder="Add a Discription" [value]="card.description" style="width:100%;height:100px"></textarea>
                <div class="row">
                <mat-form-field style="width:25%">
                  <mat-label>Select List</mat-label>
                  <mat-select [(value)]="selectedValue2" name="selectedValue2">
                    <mat-option *ngFor="let List of Lists" (click)="selectionclicked(List)" [value]="List.id">
                      {{List.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="width:25%;padding-left:3vh;">
                    <input matInput type="number" placeholder="Story" [value]="card.story_points">
                </mat-form-field>
                <mat-form-field style="width:25%;padding-left:3vh;">
                    <input matInput type="number" placeholder="Value" [value]="card.business_value">
                </mat-form-field>
                </div>
              <mat-action-row style="text-align: right;">
                <button mat-button class="btn btn-danger">Remove</button>
                <button mat-button class="btn btn-success">Update</button>
              </mat-action-row>
            </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-button class="btn btn-success">ADD</button>
    </mat-card-actions>
  </mat-card>
 </div>

 <div  class="example-card">
  <mat-card class="example-card cardListItem">
    <mat-card-header>
       <mat-card-title>Finished</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion *ngFor = "let card of cards">
       <mat-expansion-panel *ngIf = "card.list==4">
          <mat-expansion-panel-header>
           {{card.title}}
          </mat-expansion-panel-header>

            <textarea matInput placeholder="Add a Discription" [value]="card.description" style="width:100%;height:100px;"></textarea>
            <div class="row">
            <mat-form-field style="width:25%">
              <mat-label>Select List</mat-label>
              <mat-select [(value)]="selectedValue3" name="selectedValue3">
                <mat-option *ngFor="let List of Lists" (click)="selectionclicked(List)" [value]="List.id">
                  {{List.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width:25%;padding-left:3vh;">
                <input matInput type="number" placeholder="Story" [value]="card.story_points">
            </mat-form-field>
            <mat-form-field style="width:25%;padding-left:3vh;">
                <input matInput type="number" placeholder="Value" [value]="card.business_value">
            </mat-form-field>
            </div>
          <mat-action-row style="text-align: right;">
            <button mat-button class="btn btn-danger">Remove</button>
            <button mat-button class="btn btn-success">Update</button>
          </mat-action-row>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-button class="btn btn-success">ADD</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
